.cameraPositionDiv {
    display: inline-block;
}

.cameraPositionDiv input {
    width: 75px;
}

.cameraRotationDiv {
    display: inline-block;
}

.cameraRotationDiv input {
    width: 75px;
}

.lightPositionDiv {
    display: inline-block;
}

.lightPositionDiv input {
    width: 75px;
}
